@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/* Variables */
:root {
    /* Margins */
    --spacer-xs: 0.25em;
    --spacer-s: 0.5em;
    --spacer-m: 1.25em;
    --spacer-l: 2em;
    --spacer-xl: 3em;

    /* Font families */
    --font-family-primary: 'Roboto Mono', monospace;
    --font-family-secondary: 'Roboto Mono', monospace;

    /* Fonts weights */
    --font-weight-thin: 400;
    --font-weight-normal: 500;
    --font-weight-bold: 600;

    /* Fonts sizes */
    --font-size-xs: 0.7rem;
    --font-size-s: 0.9rem;
    --font-size-m: 1.15rem;
    --font-size-l: 1.4rem;
    --font-size-xl: 1.6rem;

    /* Breakpoints */
    --mobile-breakpoint: 400px;
    --tablet-breakpoint: 800px;
    --desktop-breakpoint: 1000px;

    /* Z indexes */
    --z-index-nav: 12;
}

@media screen and (max-width: var(--tablet-breakpoint)) {
    :root {
        /* Font sizes for smartphones */
        --font-size-xs: 0.25rem;
        --font-size-s: 0.5rem;
        --font-size-m: 0.75rem;
        --font-size-l: 1rem;
        --font-size-xl: 1.5rem;
    }
}

.dark {
    /*** Dark theme colors ***/
    /* Primary Colors */
    --clr-primary-light: #3bcbb1;
    --clr-primary-main: #2d9a86;
    --clr-primary-dark: #207263;
    /* Secondary Colors */
    --clr-secondary-main: #f0d340;
    --clr-secondary-dark: #ecb13d;
    --main-bg-color: #282a2f;
    /* Neutral colors */
    --clr-n1: #0d0d0d;
    --clr-n2: #1a1a1a;
    --clr-n3: #333333;
    --clr-n4: #4d4d4d;
    --clr-n5: #cccccc;
    --clr-n6: #e6e6e6;
    --clr-n7: #f2f2f2;
    --clr-n8: #ffffff;
}

.light {
    /*** Light theme colors ***/
    /* Primary Colors */
    --clr-primary-light: #3bcbb1;
    --clr-primary-main: #2d9a86;
    --clr-primary-dark: #207263;
    /* Secondary Colors */
    --clr-secondary-main: #f0d340;
    --clr-secondary-dark: #ecb13d;
    --main-bg-color: #ffffff;
    /* Neutral colors */
    --clr-n1: #ffffff;
    --clr-n2: #f2f2f2;
    --clr-n3: #e6e6e6;
    --clr-n4: #cccccc;
    --clr-n5: #4d4d4d;
    --clr-n6: #333333;
    --clr-n7: #1a1a1a;
    --clr-n8: #0d0d0d;
}


.primary-light {
    color: var(--clr-primary-light);
}

.primary {
    color: var(--clr-primary-main);
}

.primary-dark {
    color: var(--clr-primary-dark);
}


.secondary {
    color: var(--clr-secondary-main);
}

.secondary-dark {
    color: var(--clr-secondary-dark);
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.z4 {
    z-index: 4;
}

/* Typography */
h1,
h2,
h3 {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-l);
}

h3 {
    font-size: var(--font-size-m);
}

p {
    font-size: var(--font-size-m);
    font-family: var(--font-family-secondary);
}

body {
    background-color: var(--main-bg-color);
}

/* Navbar */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--main-bg-color);
}

.logo {
    color: var(--clr-n7);
    float: left;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li,
.logo {
    display: inline-block;
    padding: var(--spacer-m) var(--spacer-m);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
}

header a {
    text-decoration: none;
    color: var(--clr-n7);
}

header a:hover {
    color: var(--clr-primary-light);
}

/* Home */
.home {
    background-image: url("../img/Untitled.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.home-quote::before {
    content: '';
    position: relative;
    top: 2.7em;
    border-left: 0.3em solid var(--clr-primary-main);
    border-top: 3em solid transparent;
    border-radius: 5%;
    margin-right: var(--spacer-s);
}

.home-quote {
    position: absolute;
    top: 6em;
    left: 1em;
    color: var(--clr-n7);
    font-size: 2.5rem;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.04em;
    line-height: 1.3em;
    text-align: center;
}

.right-line-column {
    position: relative;
}

#first-line {
    position: absolute;
    width: 100em;
    top: 33vh;
    left: 87vw;
}

#second-line {
    position: absolute;
    width: 100em;
    top: 36vh;
    left: 77vw;
}

#third-line {
    position: absolute;
    width: 100em;
    top: 41vh;
    left: 87vw;
}

/* Reusable lines for home menu*/
.thin-rounded-line {
    content: '';
    border-top: 1.2rem solid black;
    border-bottom: 1.2rem solid black;
    border-radius: 1.2rem;
    background-color: black;
}

.semi-thin-rounded-line {
    content: '';
    border-top: 1.6rem solid black;
    border-bottom: 1.6rem solid black;
    border-radius: 1.6rem;
    background-color: black;
}

.regular-rounded-line {
    content: '';
    border-top: 2rem solid black;
    border-bottom: 2rem solid black;
    border-radius: 2rem;
    background-color: black;
}

.semi-thick-rounded-line {
    content: '';
    border-top: 2.5rem solid black;
    border-bottom: 2.5rem solid black;
    border-radius: 2.5rem;
    background-color: black;
}

.thick-rounded-line {
    content: '';
    border-top: 3rem solid black;
    border-bottom: 3rem solid black;
    border-radius: 3rem;
    background-color: black;
}

.red-line {
    border-color: #df5146;
    background-color: #df5146;
}

.yellow-line {
    border-color: #f0d340;
    background-color: #f0d340;
}

.orange-line {
    border-color: #ecb13d;
    background-color: #ecb13d;
}

.turquoise-line {
    border-color: #367659;
    background-color: #367659;
}

.green-line {
    border-color: #47b381;
    background-color: #47b381;
}

.emerald-line {
    border-color: #3f9886;
    background-color: #3f9886;
}

/* Footer */
.footer {
    background-color: var(--clr-n1);
    padding: var(--spacer-l);
    font-family: var(--font-family-primary);
    color: var(--clr-n4);
}

.footer-links-container {
    display: flex;
    justify-content: space-evenly;
}

.footer h1 {
    color: var(--clr-n5);
    margin-bottom: var(--spacer-s);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.15em;
    text-align: center;
}

.footer a {
    color: var(--clr-n4);
    text-decoration: none;
    text-align: center;
}

.footer a:hover {
    text-decoration: underline;
}

.footer li {
    padding: var(--spacer-xs) var(--spacer-s);
}

.footer hr {
    width: 85%;
    margin: var(--spacer-l) auto;
    border-color: var(--clr-n3);
}

.credits {
    text-align: right;
    margin-right: 7.5%;
    letter-spacing: 0.2em;
}